<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.nadeemsultan.simplecm11theme"
          android:versionCode="2"
          android:versionName="1.1" >

    <uses-permission android:name="android.permission.SET_WALLPAPER" />

    <uses-sdk android:minSdkVersion="19" android:targetSdkVersion="19" />

    <uses-feature android:name="org.cyanogenmod.theme" android:required="true" />

    <application android:hasCode="false" android:icon="@drawable/ic_launcher" android:label="Simple CM11 Theme">
    </application>

    <meta-data android:name="org.cyanogenmod.theme.name" android:value="Simple CM11 Theme"/>
    <meta-data android:name="org.cyanogenmod.theme.author" android:value="Nadeem Sultan" />

</manifest>
